<div class="favorito-box" *ngIf="favorito">

	<h1>{{titleSection}}</h1>

	<form #formFavorito="ngForm" (ngSubmit)="onSubmit()">
		<label>Titulo:</label>
		<p>
			<input type="text" name="title" #title="ngModel" [(ngModel)]="favorito.title" required />
			<span *ngIf="title.touched && !title.valid">El titulo no es correcto</span>
		</p>

		<label>Descripción:</label>
		<p>
			<textarea name="description" #description="ngModel" [(ngModel)]="favorito.description" required></textarea>
			<span *ngIf="description.touched && !description.valid">La descripción no es correcta</span>
		</p>

		<label>URL:</label>
		<p>
			<input type="url" name="url" #url="ngModel" [(ngModel)]="favorito.url" required />
			<span *ngIf="url.touched && !url.valid">Introduce una URL correcta</span>
		</p>

		<input type="submit" value="{{titleSection}}" />

	</form>

</div>